

<div class="container">
    <div class="jumbotron">
        <h1>URL Parser</h1>
        <p class="lead">Enter input parametres and start search for specific word! Multithreading!</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <form id="search-form" class="form-horizontal" action="api/search" method="post">
                <input id="guid" type="hidden" name="UserGuid" value="@Guid.NewGuid()"/>

                <div class="form-group">
                    <label class="control-label">Start URL</label>
                    <input class="form-control" name="StartUrl" type="url"
                           placeholder="http://www.example.com" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Max threads count</label>
                    <input class="form-control" name="MaxThreadsCount" type="number" min="1" max="100" placeholder="Min: 1, max: 100" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Text to search</label>
                    <input class="form-control" name="TextToSearch" type="text" placeholder="Type some word or phrase" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Max URLs count</label>
                    <input class="form-control" name="MaxUrlsCount" type="number" min="1" max="100000" placeholder="Min: 1, max: 100000" required>
                </div>
                <div class="form-group">
                    <input class="btn" type="submit" id="search-btn" value="Search!">
                    <a class="btn" id="cancel-btn">Cancel</a>
                </div>

            </form>

        </div>
        <div class="col-sm-6 col-xs-12">
            <h3>Search Result Table</h3>
            <div id="result-table">
                <div class="alert alert-danger"></div>
                <table class="table" border="1">
                    <thead>
                    <tr>
                        <th class="url-col">Url</th>
                        <th class="progress-col">Progress</th>
                        <th class="status-col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        @*<div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
            </div>*@
    </div>
</div>